*,
body {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#about-us {
    background-image: url("./imgs/banner.png");
    background-size: cover;
}
/* vendor */
.scrollerContainer .scrollerGroup {
    display: flex;
    align-items: center;
    justify-content: start;
    transition: margin 1s;
}
.scrollerContainer-02 .scrollerGroup-02 {
    display: flex;
    align-items: center;
    justify-content: start;
    transition: margin 1s;
}
/* event */
#event {
    background-image: url("./imgs/banner.png");
    background-size: cover;
}