*,
body {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#about-us .about-us-top {
    background-image: url("./imgs/banner.png");
    background-size: cover;
}



/* vendor */
.scrollerContainer .scrollerGroup {
    display: flex;
    align-items: center;
    justify-content: start;
    transition: margin 1s;
}

.scrollerContainer-02 .scrollerGroup-02 {
    display: flex;
    align-items: center;
    justify-content: start;
    transition: margin 1s;
}

/* event */
#event-info,
#agenda {
    background-image: url("./imgs/imgBg.jpg");
    background-size: cover;
}

#exhi {
    background-image: url("./imgs/imgWhite.png");
    background-size: contain;
}
@media only screen and (max-width: 768px) {
    #about-us .about-us-top {
        background-image: url("./imgs/banner.png");
        background-size: cover;
        background-position: right;
    }
    #agenda {
        background-size: auto;
        background-position: center;
    }
}